.battleScreen {
    display: none;
    flex-direction: column;
    align-items: center;

    footer {
        height: 25vh;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        background: $primary-background;
    }
    main {
        width: 75vw;
        height: 75vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.main-box {
  border: 5px solid $text-color;
  box-sizing: border-box;
    .action {
        display: none;

    }
}
#opponent {
    height: calc(50% - 5vh);
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}
#player {
  height: calc(50% - 5vh);
    display: flex;
    justify-content: space-between;

    .wrapper {
      align-self: flex-end;
    }
}
.pokemon {
    max-height: 32.5vh;
    min-width: 32.5vh;
}
.player-info {
    border: 4px solid $text-color;
    max-height: 2.5em;
    padding: 1em;

    div {
        display: flex;
        align-items: center;
    }
    .wrapper {
        justify-content: space-between;
        .pokemonName{
          margin-right: 1em;
        }
    }
}
.exp {
  display: flex;
  margin-top: .5em;
  justify-content: flex-end;
}
.HP {
  display: flex;
  align-items: center;
  background: #405C4B;
  color: #FFB03D;
  padding: 2px;
  border-radius: 10px;
  .healthBar {
    border: 2px solid #FFF;
    margin-right: 3px;
    border-radius: 10px;
    width: 100%;
  }
  .healthBar::-webkit-progress-bar {
    background-color: #3B404A;
    border-radius: 10px;
  }
  .healthBar::-webkit-progress-value {
    background-color: #18cf7c;
    border-radius: 10px;
  }
  .healthBar[value] {
    background-color: #18cf7c;
    border-radius: 10px;
  }
  p {
    margin-top: 3px;
    padding: 0 5px;
  }
}

.info-box {
  background: $text-color;
  width: 25%;
  padding: 3em;
  box-sizing: border-box;
  border: 5px solid $text-color;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-left: none;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.main-box {
  width: 75%;
  height: 25vh;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    li {
      width: 50%;
      height: 50%;
      display: flex;
      align-items: center;
      padding-left: 10%;
      box-sizing: border-box;
      color: #FFF;
      button {
        background: none;
        border: none;
        font-size: 3vw;
        color: #FFF;
      }
    }
  }
}

#expBar {
  border: 2px solid #FFF;
  margin-right: 3px;
  border-radius: 10px;
  width: 100%;
}
#expBar::-webkit-progress-bar {
  background-color: #3B404A;
  border-radius: 10px;
}
#expBar::-webkit-progress-value {
  background-color: $primary-background;
  border-radius: 10px;
}
#expBar[value] {
  background-color: $primary-background;
  border-radius: 10px;
}

.action {
  color: #fff;
  font-size: 1.5em;
}
