$text-color: #00476D;
$btnText: #00476D;
$font: Avenier;
$banner-text: #128A88;
$header-background: #0E486C;
$primary-background: #AAd5A7;
$border-color: #E6A239;
$btnColor: #398887;
$btnHover: purple;
