@font-face {
  font-family: pokemonFont;
  src: url("assets/fonts/PokemonFont.ttf");
}

body,p,h3 {
  font-family: pokemonFont;
  margin: 0;
  padding: 0;
}

.screen{
  display:none;
}

.choose{
  display:block;
}

h1,h2 {
  margin: 0;
  padding: 0;
  font-family: Avenir;
}
.waiting-modal {
  display: none;
}


@import "variables";
@import "login";
@import "choose";
@import "battle";
@import "winner";
