@font-face {
  font-family: pokemonFont;
  src: url("assets/fonts/PokemonFont.ttf"); }
body, p, h3 {
  font-family: pokemonFont;
  margin: 0;
  padding: 0; }

.screen {
  display: none; }

.choose {
  display: block; }

h1, h2 {
  margin: 0;
  padding: 0;
  font-family: Avenir; }

body {
  color: #00476D; }

.modal-container {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0; }
  .modal-container .login-modal {
    background: #0ba0d7;
    width: 25em;
    height: 30em;
    margin: 50vh auto 0 auto;
    text-align: center;
    transform: translateY(-50%); }
    .modal-container .login-modal h2 {
      font-size: 3.5em;
      font-family: Pokemon Solid;
      padding: 1em 0; }
    .modal-container .login-modal #login-input {
      padding: 15px;
      border: none;
      border-radius: 3px;
      outline: none; }
    .modal-container .login-modal #login-btn {
      background: none;
      border: 2px solid #fff;
      padding: 25px 50px;
      border-radius: 20px;
      color: #fff;
      margin-top: 3em; }
      .modal-container .login-modal #login-btn:hover {
        transition: .2s;
        background-color: #fff;
        color: #0ba0d7; }

.choose {
  margin: 0;
  text-align: center;
  background: #0ba0d7; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

header {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0ba0d7; }
  header h1 {
    margin: 0;
    color: #FFF;
    font-size: 6em;
    font-weight: 100; }

main {
  height: 80vh; }

.gender-wrapper {
  display: inline-flex;
  width: 70vw;
  height: 80%; }

.gender {
  height: 100%;
  flex: 25%;
  background: #388887;
  margin: 3em;
  border: 10px solid #0ba0d7;
  border-radius: 5px;
  background-color: #0ba0d7;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .gender:hover {
    background-color: #0a8ebf;
    border-color: #0a8ebf; }

.male {
  background-image: url("assets/images/characters/Ash.png"); }

.female {
  background-image: url("assets/images/characters/Misty.png"); }

.selected {
  background-color: #097ca6;
  border-color: #097ca6; }
  .selected:hover {
    background-color: #097ca6;
    border-color: #097ca6; }

#next-btn {
  color: #fff;
  background: transparent;
  border: 3px solid #fff;
  border-radius: 0.5em;
  border: solid 0.1em;
  position: relative;
  bottom: 6vw;
  left: 40vw;
  width: 7vw;
  height: 3vw; }
  #next-btn:hover {
    background: #0a8ebf; }

#pokemonList {
  display: flex;
  flex-wrap: wrap;
  height: 0; }
  #pokemonList li {
    width: calc(100%/3 - 2rem);
    height: calc(80vh/2 - 2rem);
    margin: 1rem;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 10px solid #0ba0d7;
    border-radius: 5px; }
    #pokemonList li:hover {
      background-color: #0a8ebf;
      border-color: #0a8ebf; }

.battleScreen {
  display: none;
  flex-direction: column;
  align-items: center; }
  .battleScreen footer {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background: #0ba0d7; }
  .battleScreen main {
    width: 75vw;
    height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.main-box {
  border: 5px solid #00476D;
  box-sizing: border-box; }
  .main-box .action {
    display: none; }

#opponent {
  height: calc(50% - 5vh);
  display: flex;
  justify-content: space-between;
  margin-top: 10vh; }

#player {
  height: calc(50% - 5vh);
  display: flex;
  justify-content: space-between; }
  #player .wrapper {
    align-self: flex-end; }

.pokemon {
  max-height: 32.5vh;
  min-width: 32.5vh; }

.player-info {
  border: 4px solid #00476D;
  max-height: 2.5em;
  padding: 1em; }
  .player-info div {
    display: flex;
    align-items: center; }
  .player-info .wrapper {
    justify-content: space-between; }
    .player-info .wrapper .pokemonName {
      margin-right: 1em; }

.exp {
  display: flex;
  margin-top: .5em;
  justify-content: flex-end; }

.HP {
  display: flex;
  align-items: center;
  background: #405C4B;
  color: #FFB03D;
  padding: 2px;
  border-radius: 10px; }
  .HP .healthBar {
    border: 2px solid #FFF;
    margin-right: 3px;
    border-radius: 10px;
    width: 100%; }
  .HP .healthBar::-webkit-progress-bar {
    background-color: #3B404A;
    border-radius: 10px; }
  .HP .healthBar::-webkit-progress-value {
    background-color: #18cf7c;
    border-radius: 10px; }
  .HP .medium-health::-webkit-progress-value {
    background-color: yellow; }
  .HP .low-health::-webkit-progress-value {
    background-color: red; }
  .HP .healthBar[value] {
    background-color: #18cf7c;
    border-radius: 10px; }
  .HP p {
    margin-top: 3px;
    padding: 0 5px; }

.info-box {
  background: #00476D;
  width: 25%;
  padding: 3em;
  box-sizing: border-box;
  border: 5px solid #00476D;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-left: none; }
  .info-box .wrapper {
    display: flex;
    justify-content: space-between; }

.main-box {
  width: 75%;
  height: 25vh;
  justify-content: center;
  align-items: center; }
  .main-box ul {
    display: flex;
    flex-wrap: wrap;
    height: 100%; }
    .main-box ul li {
      width: 50%;
      height: 50%;
      display: flex;
      align-items: center;
      padding-left: 10%;
      box-sizing: border-box;
      color: #FFF; }
      .main-box ul li button {
        background: none;
        border: none;
        font-size: 3vw;
        color: #FFF; }

#expBar {
  border: 2px solid #FFF;
  margin-right: 3px;
  border-radius: 10px;
  width: 100%; }

#expBar::-webkit-progress-bar {
  background-color: #3B404A;
  border-radius: 10px; }

#expBar::-webkit-progress-value {
  background-color: #0ba0d7;
  border-radius: 10px; }

#expBar[value] {
  background-color: #0ba0d7;
  border-radius: 10px; }

.action {
  color: #fff;
  font-size: 1.5em; }

.winScreen {
  height: 100vh;
  display: none;
  align-items: center;
  flex-direction: column;
  background: #0ba0d7; }
  .winScreen header h3 {
    color: #fff;
    font-size: 95px;
    font-weight: 100; }
  .winScreen #winner {
    height: 50vh;
    position: relative; }
    .winScreen #winner #winnerPlayer {
      height: 100%; }
    .winScreen #winner #winnerPokemon {
      height: 35%;
      position: absolute;
      bottom: 0;
      right: 0; }
  .winScreen footer {
    text-align: center; }
    .winScreen footer #winner-name {
      margin-top: 1em; }
    .winScreen footer .new-game-btn {
      background: none;
      border: 2px solid #fff;
      padding: 25px 50px;
      border-radius: 20px;
      color: #fff;
      margin-top: 30px; }
      .winScreen footer .new-game-btn:hover {
        background: #fff;
        color: #0ba0d7; }
      .winScreen footer .new-game-btn:active {
        background: #fff; }

/*# sourceMappingURL=main.css.map */
